.flex-box-rps {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  border: 1px solid #df6363;
}

.flex-box-rps img:hover {
  box-shadow: 0px 10px 10px #df6363;
  /* display: flex; */

}
.container-3{
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
